@font-face {
    font-family: 'Matter-Regular';
    src: url('../../fonts/Matter-Regular.woff2') format('woff2'), url('../../fonts/Matter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Matter-Medium';
    src: url('../../fonts/Matter-Medium.woff2') format('woff2'), url('../../fonts/Matter-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-container {
    position: fixed;
    z-index: 10;
    font-family: 'Matter-Regular';
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
    color: #F1ECE6;
    background-color: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 767px) {
    .header-container h3 {
        display: flex;
        flex-direction: column;
    }
}