@font-face {
    font-family: 'Matter-Regular';
    src: url('../../fonts/Matter-Regular.woff2') format('woff2'), url('../../fonts/Matter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Matter-Regular';
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: #D4CAFF;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.footer-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-middle h5 {
    margin: 20px;
}