@font-face {
    font-family: 'Matter-Regular';
    src: url('../../fonts/Matter-Regular.woff2') format('woff2'), url('../../fonts/Matter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Matter-Regular';
    width: 100%;
    padding: 20px;
    background-color: #D4CAFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-middle h5 {
    margin: 20px;
}

@media (max-width: 767px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-family: 'Matter-Regular';
        width: 100%;
        padding: 20px;
        background-color: #D4CAFF;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .footer-middle {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer-middle h5 {
        margin: 10px;
    }
}